<td-layout-manage-list
  #manageList
  [opened]="media.registerQuery('gt-sm') | async"
  [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
  [sidenavWidth]="!miniNav ? '264px' : '64px'"
>
  <!-- SIDENAV -->
  <div td-sidenav-content layout="column" layout-fill>
    <mat-toolbar>
      <mat-icon class="push-left-xs" [matTooltip]="!miniNav ? '' : 'Dashboards'" matTooltipPosition="after"
        >dashboard
      </mat-icon>
      <span *ngIf="!miniNav" class="push-left-sm">Dashboards</span>
    </mat-toolbar>
    <mat-nav-list flex [tdLayoutManageListClose]="!media.query('gt-sm')">
      <ng-template let-item let-index="index" let-last="last" ngFor [ngForOf]="[0, 1, 2, 3]">
        <a mat-list-item>
          <mat-icon matListIcon [matTooltip]="!miniNav ? '' : 'Dashboard ' + index" matTooltipPosition="after"
            >dashboard
          </mat-icon>
          <span *ngIf="!miniNav">Dashboard {{ index }}</span>
        </a>
      </ng-template>
      <mat-divider></mat-divider>
      <a mat-list-item>
        <mat-icon matListIcon [matTooltip]="!miniNav ? '' : 'Add Dashboard'" matTooltipPosition="after">add </mat-icon>
        <span *ngIf="!miniNav">Add Dashboard</span>
      </a>
    </mat-nav-list>
    <div class="td-layout-footer pad-sm" layout="row" layout-align="space-between center">
      <button type="button" mat-icon-button (click)="toggleMiniNav()">
        <mat-icon [@tdRotate]="miniNav">keyboard_arrow_left</mat-icon>
      </button>
      <span *ngIf="!miniNav" class="mat-caption">&copy; {{ year }}.</span>
    </div>
  </div>
  <!-- // SIDENAV -->

  <mat-sidenav-container flex>
    <!-- SIDENAV SETTINGS -->
    <mat-sidenav #sidenav position="end">
      <div layout="column" layout-fill>
        <mat-toolbar>Settings</mat-toolbar>
        <div flex class="mat-content">Hello settings!</div>
      </div>
    </mat-sidenav>
    <!-- // SIDENAV SETTINGS -->

    <td-layout-nav class="main-content" color="none">
      <div td-toolbar-content flex layout="row" layout-align="start center">
        <button mat-icon-button tdLayoutManageListToggle>
          <mat-icon>menu</mat-icon>
        </button>
        <span hide-xs>Dashboard 1</span>
        <span flex></span>

        <button
          matTooltip="Dashboard Settings"
          matTooltipPosition="before"
          type="button"
          mat-icon-button
          (click)="sidenav.open()"
        >
          <mat-icon>settings</mat-icon>
        </button>
      </div>
      <div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">
        <div flex-gt-sm="100">
          <mat-card>
            <mat-card-title>
              <div layout="row" layout-align="start center">
                <span flex>Card title</span>
                <span>
                  <button mat-icon-button matTooltip="Card settings" [mat-menu-trigger-for]="settings4">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu xPosition="before" #settings4="matMenu">
                    <button mat-menu-item>Settings</button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item>Remove</button>
                  </mat-menu>
                </span>
              </div>
            </mat-card-title>
            <mat-divider></mat-divider>
            <td-data-table [data]="data" [style.height.px]="490"> </td-data-table>
          </mat-card>
        </div>

        <div flex-gt-sm="50">
          <mat-card>
            <mat-card-title>
              <div layout="row" layout-align="start center">
                <span flex>Card title</span>
                <span>
                  <button mat-icon-button matTooltip="Card settings" [mat-menu-trigger-for]="settings5">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu xPosition="before" #settings5="matMenu">
                    <button mat-menu-item>Settings</button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item>Remove</button>
                  </mat-menu>
                </span>
              </div>
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-nav-list>
              <a mat-list-item>
                <mat-icon matListAvatar color="primary">mood </mat-icon>
                <h3 mat-line>Candy</h3>
                <p mat-line>exceeding goal!</p>
              </a>
              <!--                  <mat-divider mat-inset></mat-divider>-->
              <a mat-list-item>
                <mat-icon matListAvatar color="accent">sentiment_satisfied </mat-icon>
                <h3 mat-line>Ice Cream</h3>
                <p mat-line>goal almost achieved!</p>
              </a>
              <!--                  <mat-divider mat-inset></mat-divider>-->
              <a mat-list-item>
                <mat-icon matListAvatar color="warn">sentiment_very_dissatisfied </mat-icon>
                <h3 mat-line>Pastry</h3>
                <p mat-line>falling short of goal!</p>
              </a>
            </mat-nav-list>
          </mat-card>
        </div>
      </div>

      <div flex-gt-sm="50">
        <mat-card>
          <mat-card-title> message </mat-card-title>
          <mat-card-content>
            <input type="text" id="message" [(ngModel)]="message" (keydown.enter)="transmitMessage()" />
          </mat-card-content>
        </mat-card>
      </div>
    </td-layout-nav>
  </mat-sidenav-container>
</td-layout-manage-list>
